.botaoPPT {
    font-size: 5rem;
    width: 10rem;
    height: 10rem;
}

#colAdversario, #botoesControle {
    display: none;
}

.display-1 {
    text-decoration-color: white;
}

body {
text-color: white !important;
}
